USE [Alaska_documents_dev]
GO
/****** Object:  Table [dbo].[DocType]    Script Date: 11/21/2023 8:33:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocType](
	[DocTypeID] [int] IDENTITY(1,1) NOT NULL,
	[DocSuperTypeID] [int] NOT NULL,
	[Descr] [varchar](50) NULL,
	[Status] [varchar](20) NULL,
	[LongDescr] [varchar](1000) NULL,
 CONSTRAINT [PK_DocType] PRIMARY KEY CLUSTERED 
(
	[DocTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_DocSuperTypeID_Descr] UNIQUE NONCLUSTERED 
(
	[DocSuperTypeID] ASC,
	[Descr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocType] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[DocType]  WITH CHECK ADD  CONSTRAINT [FK_DocType_DocSuperType] FOREIGN KEY([DocSuperTypeID])
REFERENCES [dbo].[DocSuperType] ([DocSuperTypeID])
GO
ALTER TABLE [dbo].[DocType] CHECK CONSTRAINT [FK_DocType_DocSuperType]
GO
