USE [Alaska_security_dev]
GO
/****** Object:  Table [dbo].[aspnet_UsersInRoles__BadRecords_ECA_CascadeUpdate]    Script Date: 7/2/2024 9:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_UsersInRoles__BadRecords_ECA_CascadeUpdate](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
