USE [Alaska_udb_dev]
GO
/****** Object:  Table [Teacher].[Sites]    Script Date: 11/21/2023 8:51:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Teacher].[Sites](
	[AdministrationID] [int] NOT NULL,
	[TeacherID] [int] NOT NULL,
	[DistrictCode] [varchar](15) NOT NULL,
	[SchoolCode] [varchar](15) NOT NULL,
 CONSTRAINT [pk_Sites] PRIMARY KEY CLUSTERED 
(
	[AdministrationID] ASC,
	[TeacherID] ASC,
	[DistrictCode] ASC,
	[SchoolCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Teacher].[Sites]  WITH CHECK ADD  CONSTRAINT [fk_Sites_Core_Teacher] FOREIGN KEY([AdministrationID], [TeacherID])
REFERENCES [Core].[Teacher] ([AdministrationID], [TeacherID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Teacher].[Sites] CHECK CONSTRAINT [fk_Sites_Core_Teacher]
GO
